source https://api.nuget.org/v3/index.json

nuget Expecto
nuget FParsec
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget System.CommandLine 2.0.0-beta1.20371.2
nuget System.Drawing.Common
nuget Unquote
nuget YoloDev.Expecto.TestSdk
